/* apply a natural box layout model to all elements, but allowing components to change */
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #edf2f7;
    color: #36424C;
}
*, *:before, *:after {
    box-sizing: inherit;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.timer-type-toggle.react-toggle--checked .react-toggle-track {
    background-color: #F2A88D;
}

.timer-type-toggle.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #F2A88D;
}

.timer-type-toggle .react-toggle-track {
    background-color: #36424C;
}


@layer components {
    .pill-yellow {
        @apply text-xs pt-1 px-3 rounded-full bg-status-yellow-bg text-status-yellow-text h-6 text-center;
    }

    .pill-green {
        @apply text-xs pt-1 px-3 rounded-full bg-status-green-bg text-status-green-text h-6 text-center;
    }

    .pill-red {
        @apply text-xs pt-1 px-3 rounded-full bg-status-red-bg text-status-red-text h-6 text-center;
    }
}



.mail-toggle.react-toggle--checked .react-toggle-track {
    background-color: #F2A88D;
}

.mail-toggle.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #F2A88D;
}

.mail-toggle.react-toggle--checked .react-toggle-track {
    background-color: #F2A88D;
}



.react-time-picker {
    display: inline-flex;
    position: relative;
}
.react-time-picker__wrapper {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}
.react-time-picker__inputGroup,
.timer-date-picker .react-date-picker__inputGroup {
    flex-grow: 1;
    text-align: center;
    padding: 8px;
    color: #fff;
    font-size: 1rem;
    line-height: 1.75rem;
    border: 1px solid white;
}

.react-time-picker__inputGroup__divider {
    padding: 1px 0;
    white-space: pre;
}
.react-time-picker__inputGroup__input {
    min-width: 0.54em;
    height: 100%;
    position: relative;
    padding: 0 1px;
    border: 0;
    background: none;
    box-sizing: content-box;
    -moz-appearance: textfield;
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.react-time-picker__inputGroup__input:placeholder {
    color: #fff;
}
.react-time-picker__inputGroup__input::-webkit-input-placeholder {
    color: #fff;
}

.react-time-picker__inputGroup__input::-moz-placeholder {
    color: #fff;
}

.react-time-picker__inputGroup__input:-ms-input-placeholder {
    /** notice that ie has only a single colon) */
    color: #fff;
}

.react-time-picker__inputGroup__input::-webkit-input-placeholder {
    color: #fff;
}

.react-time-picker__inputGroup__input::placeholder {
    color: #fff;
}

.react-time-picker__inputGroup__input::-webkit-outer-spin-button,
.react-time-picker__inputGroup__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.react-time-picker__inputGroup__input--hasLeadingZero {
    margin-left: -0.54em;
    padding-left: calc(1px +  0.54em);
}

.slide-in-bottom {
    animation: slide-in-bottom 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-bottom {
    animation: slide-out-bottom 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-bottom-daily {
    animation: slide-in-bottom-daily 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-bottom-daily {
    animation: slide-out-bottom-daily 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*.slider {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    top: 0;*/
/*    overflow: hidden;*/
/*    transition: all 0.2s ease-in-out;*/
/*}*/

/*.slider.close {*/
/*    top: 100%;*/
/*    height: 0;*/
/*}*/

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(414px);
        transform: translateY(414px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-out-bottom {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        -webkit-transform: translateY(414px);
        transform: translateY(414px);
    }
}

@keyframes slide-in-bottom-daily {
    0% {
        -webkit-transform: translateY(474px);
        transform: translateY(474px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-out-bottom-daily {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        -webkit-transform: translateY(474px);
        transform: translateY(474px);
    }
}

.timer-date-picker .react-date-picker__calendar {
    color: black;
}


.timer-date-picker .react-date-picker__wrapper {
    border: 0;
}

.react-date-picker__inputGroup__input:placeholder {
    color: #fff;
}
.react-date-picker__inputGroup__input::-webkit-input-placeholder {
    color: #fff;
}

.react-date-picker__inputGroup__input::-moz-placeholder {
    color: #fff;
}

.react-date-picker__inputGroup__input:-ms-input-placeholder {
    /** notice that ie has only a single colon) */
    color: #fff;
}

.react-date-picker__inputGroup__input::-webkit-input-placeholder {
    color: #fff;
}

.react-date-picker__inputGroup__input::placeholder {
    color: #fff;
}
